@model MindScribe.ViewModels.EditViewModel.ArticleEditViewModel;
@{
    ViewData["Title"] = "Edit Article Page";
}

<div>
    <h3>Форма создания статьи</h3>
    <form method="post" asp-controller="Article" asp-action="ArticleUpdate">
        <input type="hidden" asp-for="Article_Id" value="@Model.Article_Id" />
        <div>
            <input asp-for="Title" class="form-control" value="@Model.Title"/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div>
            <textarea asp-for="Content_article" class="form-control" value="@Model.Content_article"></textarea>
            <span asp-validation-for="Content_article" class="text-danger"></span>
        </div>
        <div>

            <label>Теги:</label>
            <div>
                <div>
                    <ul class="dropdown-menu">
                        @foreach (var tag in @Model.Tags)
                        {
                            <li>
                                <div class="dropdown-item">
                                    <form method="post" asp-controller="ArticleTag" asp-action="DeleteTag">
                                        <label>@tag.NameTag</label>
                                        <input type="submit" class="btn btn-danger" value="Удалить" />
                                    </form>
                                </div>
                            </li>
                        }
                    </ul>
                    <form method="post" asp-controller="ArticleTag" asp-action="CreateTag">
                        <div>
                            <label>Новый тег:</label>
                            <input type="text" name="tagName" class="form-control" />
                        </div>
                        <input type="submit" value="Создать" />
                    </form>
                </div>
            </div>
        </div>
        <input type="submit" value="Сохранить" />
    </form>
</div>